@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-main-rgb: 255, 249, 239;
  --background-alt-rgb: 247, 241, 231;
  --background-alt2-rgb: 241, 234, 223;
  --background-navbar-rgb: 223, 207, 185;
  --text-main-rgb: 103, 63, 61;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-main-rgb: 255, 249, 239;
    --background-alt-rgb: 247, 241, 231;
    --background-alt2-rgb: 241, 234, 223;
    --background-navbar-rgb: 223, 207, 185;
    --text-main-rgb: 103, 63, 61;
  }
}

body {
  color: rgb(var(--text-main-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: rgb(var(--background-main-rgb));
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
